
.border_solidblack1pt{border:solid black 1.0pt;}
.invest {background-color: aqua ; border:solid black 1.0pt;}
.green {background-color: greenyellow ;border:solid black 1.0pt}
.white {background-color: white ; border:solid black 1.0pt}
.gray {background-color: lightgrey ; border:solid black 1.0pt}
.aqua {background-color: aqua ; border:solid black 1.0pt}
.red {background-color: red ; border:solid black 1.0pt; font-color: white;}
.lightseagreen {background-color: lightgreen ;}
.skyblue {background-color: skyblue ;}
